{% set product = thread.topic %}
{% extends 'OdiseoProductBundle:Frontend/Product:productHeaderLayout.html.twig' %}

{% block javascripts %} 
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/odiseomessaging/js/messaging.js') }}"></script>
{% endblock %} 

{% block content %}
	{{ parent() }}
	
	<div class="container margin_60">
		<div class="main_title">
			<h2>Conversation</h2>
		</div>

		<hr>
		<br>

		<div class="row">
			<div class="col-md-8" id="single_tour_desc">
				{{	render(controller('odiseo_messaging.controller.messaging:listMessagesAction', { 'threadId': thread.id })) }}

				{% if form is defined %}
				{{ include('OdiseoMessagingBundle:Frontend/Messaging/Partial:message_form.html.twig', { 'form': form, 'thread': thread }) }}
				{% endif %}
			</div>
			<!--End  single_tour_desc-->
			<aside class="col-md-4"></aside>
		</div>
	</div>
</div>
{% endblock %}