{% extends 'OdiseoProductBundle:Frontend/Product:productHeaderLayout.html.twig' %}

{% block javascripts %} 
{{ parent() }}
<script type="text/javascript">
$(function()
{
	var successCalback = function(data){
		var row = $("<div class='row'></div>");
		var textArea = $('form textarea');
		textArea.prop('disabled', true);
		$('form').remove();
		var container = $('.preorder.new.form_message');
		container.removeClass( "form_message" );
		row.append(textArea);
		container.append(row);
		$('#single_tour_desc').append(data.html);
		$("form[name='odiseo_message_single_message_form_name']").submit(submit);

		var sendContractButton  = $("#odiseo_show_vendor_buttons_name_contract");
		if( 0 < sendContractButton.length )
			sendContractButton.click(showSendContractPopUp);

		$('form textarea').text("");
	};


	var submit= function(e){
	    var form = $(this);
	    var options = {	success : successCalback };
		var url = form.attr('action');
		form.ajaxSubmit(options);
	
	    return false;
	 };

	var showQuoteMedia = function(){
		 $('#modalWindow').modal('show');
		 $('#modalWindow .modal-title').html('Quote of Media');
		 var form = $(this);
		 var options = { success : function(data){
			 var modalContent = $('#modalWindow .modal-body');
			 if (data.error == false){
				modalContent.html( data.html);
			 }
			 else{
				 modalContent.html("Ha ocurrido un error");
			}
		}};
		form.ajaxSubmit(options);
		return false;
	};

	var showSendContractPopUp = function(){
		$('#modalWindow').modal('show');
		$('#modalWindow .modal-title').html('Send Contract');
		$('#modalWindow .modal-dialog').css('width', '700px');
		var form = $("form[name='odiseo_show_vendor_buttons_name']");
		var options = {
			success : function(data){
				 var modalContent = $('#modalWindow .modal-body');
				 if (data.error == false){
					modalContent.html( data.html);
				 }
				 else{
					 modalContent.html("Ha ocurrido un error");
				}	
			}
		};
		form.ajaxSubmit(options);
		return false;
	}
	
	$("form[name='odiseo_message_single_message_form_name']").submit(submit);
	$("form[name='odiseo_show_buyer_buttons_form_name']").submit(showQuoteMedia);
	$("#odiseo_show_vendor_buttons_name_contract").click(showSendContractPopUp);
});
</script>
{% endblock %} 

{% block content %}
	{{ parent() }}
	
	<div class="container margin_60">
		<div class="row">
			<div class="col-md-8" id="single_tour_desc">
				<h3>History</h3>

				{{	render(controller('odiseo.ecommerce.messaging_controller:listMessagesAction', { 'productId': product.id , 'creatorId': creatorId})) }}

				{% if form is defined %}
				<div class="row">	
					<div class="col-md-1">
						<img src="/bundles/odiseoadscandy/img/avatar1.jpg" alt=""
							class="img-circle" style="width:130%;">
					</div>
	
					<div class="col-md-11">
						<div class="preorder new form_message">
							<form action="{{ path('odiseo_message_send', {'id': product.id, 'creatorId': creatorId }) }}" method="POST">
								{{ form_errors(form) }}
								{% for flashMessage in app.session.flashbag.get('notice') %}
								<p class="sended">
									<i class="fa fa-check"></i> {{ flashMessage }}
								</p>
								{% endfor %}
								{% for flashMessage in app.session.flashbag.get('error') %}
								<p class="sended">
									<i class="fa fa-times"></i> {{ flashMessage }}
								</p>
								{% endfor %}
								{{ form_widget(form._token) }}
								{{ form_widget(form.body, {'attr': {'class': 'form-control description', 'data-rule-required':'true'} }) }}
								<br>
								{{ form_widget(form.enviar, {'attr':{'class':'button_drop pull-right'}}) }}
							</form>
							
							{{ render(controller('OdiseoAdsCandyBundle:Frontend/PreOrder:showPreOrderButton',{'productId': product.id , 'buyerId' : creatorId})) }}
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			<!--End  single_tour_desc-->
			<div class="col-md-4"></div>
		</div>
	</div>
	
	<div id="modalWindow" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<img src="{{ asset('bundles/odiseoadscandy/img/ajax-loader.gif') }}" style="display:block; margin: 0 auto;" id="loading-indicator"/>
				</div>
			</div>
		</div>	
	</div>
	
	<div id="notificationModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Notification</h4>
				</div>
				<div class="modal-body">
					<img src="{{ asset('bundles/odiseoadscandy/img/ajax-loader.gif') }}" style="display:block; margin: 0 auto;" id="loading-indicator"/>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}